streamlit>=1.46.0
google-genai
python-dotenv
pypdf
requests

moviepy
ffmpeg-python
Pillow

pandas
numpy

schedule

yt-dlp

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
gTTS